body {
  font-family: 'Jost', serif;
  /* background-color: #0d0031; */
  color: #b69ec4;
  font-size: 14px;
  /* font-size: 30px; */

  background: linear-gradient(
    to bottom,
    #0d0031,
    #0d0031 50%,
    #24024b 50%,
    #24024b
  );
  background-size: 100% 4px;
  animation: gradientMove 200ms ease infinite;
}

h1{
  font-size:4em;
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgb(189, 45, 255);
animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;

}

@keyframes gradientMove { 
  0%{background-size: 100% 4px}
  50%{background-size: 100% 2px}
  100%{background-size: 100% 4px}
}

@keyframes pulse { 
  0%{ opacity:.9;transform: skewX(.5deg);}
  25%{ opacity:1;}
  50%{opacity:.9;}
  75%{ opacity:1; transform:skewX(.5deg);}
  100%{opacity:.9;}
}
@keyframes chromaticMove { 
  0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgb(189, 45, 255);}
  50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgb(189, 45, 255);}
  100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgb(189, 45, 255);}
}

p {
  letter-spacing: .05rem;
}

li {
  letter-spacing: .025rem;
  font-size: 14px;
  margin-bottom: 10px;
}

h3 {
  color: #Cdccf9;
}

a {
  color: #CA3e47;
  text-shadow: 1px 1px 2px #000000ab;
}
a:hover {
  color: #f8636d;
  text-decoration: none;
}

b {
  color: #d8c4e4;
}

.nav-tabs .nav-link {
  background-color: #444445; 
  color: #Cdccf9;
}

.nav-tabs .nav-link.active {
  background-color: #3F0071;
  color: #Cdccf9;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  background-color: #610094;
}

.bg {
  background-color: #3F0071;
  height: 100%;
  overflow: auto;
}

.bg-tab {
  background-color: #3F0071;
  height: 290px;
  overflow: auto;
}

.bg-tab2 {
  background-color: #3F0071;
  height: 583px;
  overflow: auto;
}

.bg-rules {
  background-color: #3F0071;
  height: 328px;
  overflow: auto;
}

.bg-image {
  background-image: url("https://media.giphy.com/media/UC8DbMqXvkpd6/giphy.gif");
  background-size: cover;
  background-position: center;
  background-color: #3F0071;
  height: 100%;
  overflow: auto;
}

.maintitle {
  height: 200px;
  font-size: 50px;
  /* font-style: italic; */
  font-family: 'Nova Mono', serif;
  /* color: #CA3e47; */
  color: white;
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgb(189, 45, 255);
  animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
}

.maintitlegraphic {
  font-size: 45px;
  font-style: italic;
  font-family: 'Nova Mono', serif;
  color: #CA3e47;
}

.maintitle2 {
  font-size: 23px;
  font-family: 'Nova Mono', serif;
  color: #CA3e47;
}

.titles {
  font-size: 30px;
  font-family: 'Nova Mono', serif;
  color: #CA3e47;
}

.topbar {
  background-color: #3F0071;
  margin: 5px 0px 5px 0px;
  height: 150px;
}

.topbar2 {
  background-color: #3F0071;
  margin: 5px 0px 5px 0px;
  height: 70px;
}

.height1 {
  height: 700px;
}

.height2 {
  height: 400px;
  margin: 10px 0px 5px 0px;
}

.tenper {
  height: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.eightper {
  height: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fourper {
  height: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.allper {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.center {
  text-align: center;
}

.top-spacing {
  margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #35283c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #610094; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #610094; 
}

.stroke {
  text-shadow: 2px 2px 2px #0000007c;
}